<ion-content class="padding-content">
  <h4>List Companies</h4>
  
  <div class="divider-padding">
    <mat-divider></mat-divider>
  </div>
  
  <button mat-flat-button color="primary" (click)="AddCompany()" aria-label="add company">
    <mat-icon>add_circle_outline</mat-icon> Add Company
  </button>
  <mat-list>
    <mat-list-item *ngFor="let com of formattedlist">
      <mat-divider></mat-divider>
      <img matListAvatar *ngIf="com.logo" [src]="com.logo">
      <div matListAvatar *ngIf="!com.logo"><mat-icon class="fallbackicon">perm_identity</mat-icon></div>
      <div mat-line>{{com.name}}</div>
      <button mat-icon-button color="warning" (click)="ListEquipment(com)" aria-label="List Equipment">
        <mat-icon>devices</mat-icon>
      </button>
      <button mat-icon-button color="warning" (click)="ListUser(com)" aria-label="List user">
        <mat-icon>people</mat-icon>
      </button>
      <button mat-icon-button (click)="DeleteCompany(com)" aria-label="Delete Company">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
</ion-content>
