.pane-margin{
    //margin-top: 9vh;
    padding: 15px;
    
}

.getquote-icon{

    color: #004CFF;
    font-size: 30px;
}

.getquote-text{
    font-size: 20px;
}

.gq-padding{
    padding: 8px 0;
}

ion-list,ion-item {
    --background: #FAFAFA !important;
    background: #FAFAFA !important;
  }
  