<!-- <div class="pane-margin">
  <ion-list lines="none">
    <ion-item>
      <mat-icon slot="start">dashboard</mat-icon>
      <span>Dashboard</span>
    </ion-item>
    <ion-item (click)="navigateURL('employee')" id="insuranceenquiry">
      <mat-icon svgIcon="form" slot="start"></mat-icon>
      <span>Employee</span>
    </ion-item>
    <ion-item (click)="navigateURL('companies')" id="insuranceenquiry">
      <mat-icon svgIcon="form" slot="start"></mat-icon>
      <span>Companies</span>
    </ion-item>
    
  </ion-list>
</div> -->
<div class="pane-margin">
  <ng-material-multilevel-menu [items]='appitems' (selectedItem)="selectedItem($event)">
  </ng-material-multilevel-menu>
</div>

