.modalHeader{
    --background: #004CFF;
    --color: #FFFFFF;
}

.basicDetails{
    padding:15px
}

.advancedDetails{
    background: #FAFAFA;
    padding:15px
}

#advDiv{
    padding-bottom: 15px;
    font-weight: bold;
}