.copyright{
    margin:0 21vw;
    font-size: 13px;
    position: relative;
}

ion-footer{
    display: inline !important;
}

.footer-bg{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    height: 30px;
    padding:5px;
}

.footertext{
    line-height: 20px;
    padding: 0 25px;
}