<ion-header>
  <ion-toolbar class="modalHeader">
    <ion-title>
      User
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="close()">X</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<div class="inner-content">
  <div class="form-padding">
    <form [formGroup]="userForm">
      <div>User Full Name</div>
      <ion-input formControlName="userFullName" class="input-style"></ion-input>

      <div>Username</div>
      <ion-input formControlName="username" class="input-style"></ion-input>

      <div>Password</div>
      <ion-input formControlName="password" type="password" class="input-style"></ion-input>

      <div>Confirm Password</div>
      <ion-input formControlName="confirmpassword" type="password" class="input-style"></ion-input>
    </form>
  </div>
</div>
<ion-footer>
  <ion-toolbar >
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button class="proceed-btn-form" type="button" (click)="proceed()">Submit</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>